.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(185, 161, 161);
    border-radius: 10px;
    width: 90%;
    height: 50%;
    margin-bottom: 1rem;
    transition: 2s ease;
}

.card:hover{
    cursor: pointer;
}

.card-img img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    align-self: flex-end!important;
}