* {
  box-sizing: border-box;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #eee;
}

.title {
  display: flex;
  flex-direction: row;
}

.plus {
  margin-left: auto;
}

.box {
  margin: 10px auto;
  width: 50%;
  background-color: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}

.box:hover {
  cursor: pointer;
}

.box .box-item {
  border-bottom: 1px solid #666;
  color: #eee;
}
.box .title {
  margin: 0;
  padding: 10px;
  background-color: #1b87e0;
}

.box-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(54, 49, 49);
  margin: 0;
  padding-left: 20px;
  transition: all 2s ease;
}

ul {
  list-style: none;
}

p i,
li i {
  margin-right: 10px;
}

.box:hover .box-item:hover .box-item-content {
  max-height: 1000px; /*Temporalmente, se queda asi por la cantidad de elementos, no han arreglado el height 100% con animaciones :(*/
  cursor: pointer;
}

.box:hover .title:hover i:nth-child(2)::before {
  content: "\f056";
  font: normal normal normal FontAwesome;
}
